<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Profile Hover Effect</title>

    <!-- Embedding Fonts from google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="team">
      <h2 class="section-heading">Our Team</h2>
      <div class="container">
        <div class="profile">
          <img src="assets/member1.jpg" alt=""/><span class="name">Kalyan</span>
        </div>
        <div class="profile">
          <img src="assets/member2.jpg" alt=""/><span class="name">Suchitra Tiwari</span>
        </div>
        <div class="profile">
          <img src="assets/member3.jpg" alt=""/><span class="name">Sajid Ghani</span>
        </div>
        <div class="profile">
          <img src="assets/member4.jpg" alt=""/><span class="name">Dhriti</span>
        </div>
        <div class="profile">
          <img src="assets/member5.jpg" alt=""/><span class="name">Milind</span>
        </div>
        <div class="profile">
          <img src="assets/member6.jpg" alt=""/><span class="name">Srikant Tiwari</span>
        </div>
        <div class="profile">
          <img src="assets/member7.jpg" alt=""/><span class="name">Major Sameer</span>
        </div>
      </div>
    </section>
  </body>
</html>